
body {
    margin: 0;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: url(./resources/background.jpg) no-repeat center center fixed;
    color: aliceblue;
}

header {
    border-bottom: 2px solid aliceblue;
}

nav {
    display: flex;
    align-items: center;
}

.bold {
    font-weight: 700;
}

#logo {
    font-family: "Roboto";
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-family: "Roboto";
    font-size: 2rem;
}

h3 {
    font-family: "Roboto";
    font-size: 1.5rem;
}

h4 {
    font-family: "Roboto";
    font-size: 1.2rem;
}

p {
    font-family: "Roboto";
    font-size: 1rem;
    text-align: justify;
    font-weight: 400;
}

#about-me-text {
    margin-top: 30px;
}

.navigation-items {
    display: flex;
    list-style-type: none;
    font-family: "Roboto";
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0;
    align-items: center;
    margin: auto; 
    min-width: 250px;
}

/*.navigation-item {
    width: 120px;
}*/

.link-divider {
    border-bottom: 2px solid aliceblue;
    padding-left: 5px;
    margin-right: 10px;
}

.before-img-container { grid-area: before; }

.portrait { 
    grid-area: portrait; 
    max-width: 450px;
    max-height: 250px;
    width: auto;
    height: auto;
    margin-top: 30px;
}

.after-img-container { 
    grid-area: after;
}
        
.about-me-container {
    display: grid;
    grid-template-areas:
       'before before before before before portrait'
       'after after after after after after';
    column-gap: 90px;
}

a:link, a:visited {
    color: aliceblue;
}

a:hover {
    color: darkgray;
    opacity: 0.5;
}

.dropbtn {
    cursor: pointer;
    font-size: inherit;
    border: none;
    outline: none;
    color: inherit;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-decoration: underline;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn:hover, .dropbtn:focus {
  color: darkgray;
  opacity: 0.5;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: url(./resources/background.jpg) no-repeat center center fixed;
  width: auto;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: aliceblue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.show {display:block;}

@media screen and (max-width: 1000px) {
    .about-me-container {
        display: grid;
        grid-template-areas:
           'before before'
           'portrait portrait'
           'after after';
        column-gap: 0px;
        margin-left: 10px;
        justify-items: center;
    }

    #logo {
        margin-left: 10px;
    }

    #projects-container {
        margin-left: 10px;
    }

    #contact {
        margin-left: 10px;
    }
}

@media screen and (max-width: 650px) {
    body {
        z-index: -1;
        /*position: fixed;*/
        top: 0;
        background-position-x: 50%;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-image: url(./resources/background.jpg);
        background-repeat: no-repeat; 
    }
    
    .navigation-items {
        display: inline-block;
        width: auto;
        font-size: 1rem;
    }

    .videos {
        width: auto;
        height: auto;
    }


    #logo {
        font-size: 2rem;
        width: auto;
        max-width: 200px;
    }
    
    h2 {
        font-family: "Roboto";
        font-size: 1.5rem;
    }
    
    h3 {
        font-family: "Roboto";
        font-size: 1.2rem;
    }

    h4 {
        font-family: "Roboto";
        font-size: 1rem;
    }

    p {
        font-family: "Roboto";
        font-size: 0.8rem;
        text-align: justify;
    }

    .contact-container {
        height: 40px;
        align-items: center;
    }

    .contact-icon {
        height: 40px;
        width: 40px;
    }
    
}

.htmlIcon { grid-area: html; }
.cssIcon { grid-area: css; }
.jsIcon { grid-area: js; }
.githubIcon { grid-area: git; }
.unityIcon { grid-area: unity; }
.unrealIcon { grid-area: unreal; }

#skills-container {
    display: grid;
    grid-template-areas:
        'html css js git unity unreal';
    column-gap: 0px;
    background-color: rgba(144,192,200,0.1);
    margin: 10px;
}

.game-container {
    margin-top: 50px;
}

.videos {
    width: 560px;
    height: 315px;
}

#contact-text {
    margin-top: 30px;
}

.contact-container {
    display: flex;
    height: 50px;
    margin-top: 30px;
    align-items: center;
}

.contact-icon {
    width: 50px;
    height: 50px;
}
.contact-text-container {
    margin-left: 40px;
}

#games-text {
    margin-top: 30px;
}

#full-stack-text {
    margin-top: 30px;
}

.portfolio-project-container {
    margin-top: 50px;
}

.tech-img {
    margin-right: 15px;
}